################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WinFormsApp1/FileContentIndex/f4475b2a-5563-49dd-87b3-9dca2ef4e04a.vsidx
